<form>
    <input type="text" name="name" />
    <input type="text" name="profile-picture" />
    <input type="text" name="bio" />
    <input type="submit" value="Add dog" />
</form>
<script src="/scripts/add-dog.js"></script>
